<div class="page-header">
  <h1>
    Story Driver
    <small>Generate a Story for Yourself</small>
  </h1>
</div>

<% if (lastId) { %>
<div class="alert alert-success">
    <a class="close" data-dismiss="alert">&#215;</a>
    Added story to queue with ID of "<%= lastId %>"
  </div>
<% } %>
<form class="form-horizontal" method="POST">
  <fieldset>
    <div class="control-group">
      <label class="control-label" for="story_url">Link</label>
      <div class="controls">
        <input type="text" class="input-xlarge" name="story[url]" id="story_url" value="http://simonwex.com">
        <p class="help-block">The external URL for the story.</p>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="story_title">Body</label>
      <div class="controls">
        <textarea class="input-xlarge" id="story_title" name="story[title]" rows="3">Find @simonwex at http://simonwex.com</textarea>
      </div>
    </div>
    <div class="form-actions">
      <button type="submit" class="btn btn-primary">Post Story</button>
    </div>
  </fieldset>
</form>
