html, body {
  
}

html, body.anonymous {
  background-clip: border-box;
  background-color: #EEE;
  background-image: url(http://www.mozilla.org/media/img/sandstone/bg-sky.png);
  background-origin: padding-box;
  background-repeat: repeat-x;
  color: #333;
  display: block;
  font-size: 16px;
  height: 804px;
  line-height: 24px;
  margin: 0px;
  padding-bottom: 48px;
  padding: 0px;
}

body.anonymous h1 {
  color: #333;
  display: block;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 40px;
  font-weight: bold;
  letter-spacing: -1px;
  padding: 200px 10px;
  text-align: center;
  text-rendering: optimizelegibility;
}

body.anonymous h2 {
  text-align: center;
}

body #ui, body.authenticated #signin {
  display: none;
}

body.authenticated #ui {
  display: block;
}

body.authenticated #ui {
  display: block;
}

.status{
  text-transform: uppercase;
}


.fixed-top-bar{
  position: fixed;
  top: 0;
  height: 18px;
  background-color: #2c2c2c;
  margin: 0;
  padding: 4px 0 5px 0;
  width: 100%;
}

.fixed-top-bar h1{
  display: inline;
  font-size: 14px;
  color: white;
  line-height:100%;
  margin: 0px 0px 5px 5px;
  padding-right:15px;
}

.fixed-top-bar ul, .fixed-top-bar ul li, .fixed-top-bar ul li a{
  display: inline;
  border: none;
  font-size:12px;
  text-align:right;
}

.feed {
  margin-top: 27px;
  height: 400px;
  overflow-y: auto;
  overflow-x: hidden;

}
ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
ul li {
  padding: 5px;
  border: solid #ccc;
  border-width: 0 0 1px 0;
  clear: both;
  min-height: 40px;
}
.feed ul li:nth-child(odd) {
  background-color: #eee;
}

ul li .thumbnail {
  float: left;
  width: 30px;
  height: 30px;
}

ul li span.status {
  float: right;
}

ul li svg {
  width: 30px;
  height: 30px;
  display: inline;
}

.feed ul li {
  cursor: pointer;
}

.feed ul li p {
  margin:0px 0px 9px 45px;
  font-family: "Lucida Grande","Lucida Sans Unicode",Lucida,Arial,Helvetica,sans-serif;
  font-size: 11px;
  line-height: 15px;
}
.contacts ul li p {
  margin-right: 45px;
}

.contacts {
  overflow-y: auto;
  overflow-x: hidden;
}

.contacts li {
  font-size: 1em;
}

.contacts h2 {
  font-size: 14px;
  color: white;
  background-color: #2c2c2c;
  width: 100%;
  margin: 0;
  padding: 0 0 0 5px;
  line-height:150%;
}

.story {
  font-size:9px;
}
