/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this file,
 * You can obtain one at http://mozilla.org/MPL/2.0/. */

body {
  padding-top: 60px;
  padding-bottom: 40px;
}

#changes_saved {
  position: fixed;
  top: 4em;
}

body.profile #container{
  padding-top: 10px;
}
body.profile #photo img{
  margin-top: 15px;
}

body.profile #networks ul {
  width: 278px;
  border: 1px solid #ccc;
  border-radius: 3px;
  list-style-type: none;
  margin: 0;
}

body.profile #networks li {
  line-height: 18px;
  color: #555;
  padding: 4px;
}

body.profile #networks li {
  border-bottom: 1px solid #ccc;
}
body.profile #networks li:last-child {
  border-bottom: none;
}

body.profile li.search-choice span {
  padding-right: 12px;
}

body.profile ul.feeds input[type=text]{
  width: 630px;
}
body.profile div.feeds {
  display: inline;
  margin-left: 25px;
}

body.profile ul {
  list-style-type: none;
}

body.profile ul.mentionTokens li{
  margin-bottom: 1em;
}

body.profile ul.feeds {
  width: 805px;
  margin-bottom: 35px;
}

body.profile .feedcontainer ul form{
  padding-left: 59px;
}
body.profile .feedcontainer ul form.verified, body.profile .feedcontainer ul form.error {
  padding-left: 19px;
}
body.profile .feedcontainer ul .btn-success, body.profile .feedcontainer ul .btn-error {
  display: none;
}
body.profile .feedcontainer ul .verified .btn-success, body.profile .feedcontainer ul .error .btn-danger {
  display: inline;
}

body.profile .mentionTokens .errorMessage{
  display: none;
}

body.profile .mentionTokens .error .errorMessage{
  display: block;
}

body.profile .feedcontainer {
  min-height: 200px;
  padding-bottom: 100px;
  background-repeat: no-repeat;
  background-position: 100% 100%;
  background-image: url('/images/rss-bot-montage.jpg');
}

body.profile form.well {
  background-color: rgba(245, 245, 245, 0.8);
}
